appdirs
asgiref
certifi
cffi
chardet
cryptography
cycler
defusedxml
distlib
dj-rest-auth
Django
django-allauth
django-cors-headers
django-environ
django-markdown-view
django-rest-auth
django-rest-framework
djangorestframework
djangorestframework-simplejwt
filelock
idna
importlib-metadata
kiwisolver
Markdown
matplotlib
numpy
oauthlib
Pillow
psycopg2
psycopg2-binary
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
typing-extensions
urllib3
virtualenv
zipp
